body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    display: flex;
    width: 900px;
    height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .login-logo {
    background-color: #fff;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .login-logo img {
    width: 150px;
    margin-bottom: 10px;
  }
  
  .bcp-logo {
    width: 100px;
  }
  
  .login-form {
    background-color: #7900a6;
    width: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
  }
  
  .login-form h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .login-form p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .input-group {
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
  }
  
  .checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .checkbox-group input {
    margin-right: 10px;
  }
  
  .btn-login {
    background-color: #00d4c1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
  }
  
  .btn-login:hover {
    background-color: #00b7a8;
  }
  
  .forgot-password {
    margin-top: 10px;
    font-size: 12px;
    color: #e0e0e0;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 10px;
  }
  