.app-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box; /* Asegura que el padding no desborde el ancho/alto */
}
