/* Aseguramos que las clases específicas del componente Login estén correctamente aisladas */
.login-container {
    background: #8a139b;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: #000000;
    width: 100%;
    max-width: none;
    height: 100%;
    max-height: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login-container h1 {
    color: #fff;
    margin: 20px 0;
  }
  
  .login-container label {
    display: block;
    color: #fff;
    margin: 10px 0 5px;
  }
  
  .login-container input {
    width: 550px;
    padding: 10px;
    margin-bottom: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-container .button {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #00d2b2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .login-container .error {
    color: red;
    text-align: center;
  }
  
  /* Estilos específicos para el layout */
  .split-screen {
    display: flex;
    height: 100vh;
    width: 100vw;
  }
  
  .left-side, .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .left-side {
    flex: 1;
    background-color: white;
  }
  
  .right-side {
    flex: 1;
    background-color: white;
  }
  
  .left-side .imagenes img {
    height: 250px;
  }
  